!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %title= @page_title || "flickr portfolio"
  
  %body
    = yield
  