div.container-1 {
  text-align: center;
}
div.container-2 {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

div.spacer {
  clear: both;
}
div.columns {
  clear: both;
}
div.columns div.left {
  float: left;
  text-align: left;
  width: 50%;
}
div.columns div.right {
  float: right;
  text-align: right;
  width: 50%;
}

div.nav {
  height: 3em;
  line-height: 4em;
}

div.nav ul {
  list-style: none;
}
div.nav ul li {
  float: right;
  display: block;
  margin-left: 20px;
}
div.nav ul li a {
  border-bottom: 1px dotted #999;
}


div.admin {
  width: 490px;
  background: #000;
  border: 1px solid #999;
  padding: 5px;
}

body {
  margin-top: 1em;
  
  font-size: 75%;
  color: #fff;
  background: #222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.alt {
  color: #999; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-style: italic;
  font-weight: normal;
}
a {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 2em;
}